 /* Nord Theme Colors */
 /* Polar Night */
 @define-color nord0 #2e3440;
 /* darkest background */
 @define-color nord1 #3b4252;
 /* dark background */
 @define-color nord2 #434c5e;
 /* darker foreground */
 @define-color nord3 #4c566a;
 /* dark foreground */
 /* Snow Storm */
 @define-color nord4 #d8dee9;
 /* light foreground */
 @define-color nord5 #e5e9f0;
 /* lighter foreground */
 @define-color nord6 #eceff4;
 /* lightest foreground */
 /* Frost */
 @define-color nord7 #8fbcbb;
 /* frost cyan */
 @define-color nord8 #88c0d0;
 /* frost light blue */
 @define-color nord9 #81a1c1;
 /* frost blue */
 @define-color nord10 #5e81ac;
 /* frost dark blue */
 /* Aurora */
 @define-color nord11 #bf616a;
 /* red */
 @define-color nord12 #d08770;
 /* orange */
 @define-color nord13 #ebcb8b;
 /* yellow */
 @define-color nord14 #a3be8c;
 /* green */
 @define-color nord15 #b48ead;
 /* purple */


 * {
   font-family: "sans-serif";
   font-size: 14px;
   font-weight: normal;
   border: none;
   border-radius: 0;
   min-height: 0;
   margin: 0;
   padding: 0;
 }

 window#waybar {
   border-radius: 10px;
   background: @nord0;
   color: @nord4;
 }

 #custom-arch-logo {
   padding: 8px 4px;
   font-size: 24px;
 }

 .modules-left,
 .modules-center,
 .modules-right {
   background: transparent;
 }

 .modules-left {
   margin-left: 8px;
 }

 .modules-right {
   margin-right: 8px;
   border-radius: 10px;
 }

 #image {
   margin-right: 8px;
   padding: 0 8px;
 }

 #workspaces button {
   background: transparent;
   color: @nord3;
   border: none;
   border-radius: 0;
   box-shadow: none;
   outline: none;
   text-shadow: none;
   padding: 8px 4px;
   transition: color 0.2s ease;
 }

 #workspaces button:hover {
   background: transparent;
   color: @nord6;
   border: none;
   box-shadow: none;
   outline: none;
   text-shadow: none;
 }

 #workspaces button.active {
   background: transparent;
   color: @nord6;
   border: none;
   box-shadow: none;
   outline: none;
   text-shadow: none;
 }

 #workspaces button.urgent {
   background: @nord11;
   color: @nord6;
 }

 #window {
   color: @nord4;
   padding: 8px 15px;
 }

 #custom-screenshot,
 #network,
 #cpu,
 #memory,
 #language,
 #clock,
 #custom-power,
 #pulseaudio,
 #network,
 #cpu,
 #memory {
   padding: 8px 4px;
   color: @nord4;
   font-weight: normal;
 }

 #pulseaudio.muted,
 #network.disconnected,
 #cpu.critical,
 #memory.critical {
   background: @nord11;
   color: @nord6;
 }

 #cpu.warning,
 #memory.warning {
   background: @nord13;
   color: @nord6;
 }

 tooltip {
   background: @nord1;
   border: 1px solid @nord5;
   border-radius: 8px;
   color: @nord4;
 }